body {
    font-family: 'Roboto', sans-serif;
}

.welcome {
    &__heading {
        font-size: 60px;
        text-align: center;
        margin: 100px auto 30px;
    }

    &__image {
        width: 500px;
        margin: 0 auto;
    }

    &__list {
        width: max-content;
        margin: 0 auto;

        li {
            font-size: 17px;
            margin-bottom: 5px;
        }
    }
}